<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="NODESKTOPSHORTCUT" Secure="yes" />
    
    <StandardDirectory Id="DesktopFolder" />
    
    <SetProperty Id="DesktopFolderToSearchForShortcut" Value="[DesktopFolder]" Condition="NOT DesktopFolderToSearchForShortcut" Before="AppSearch" />

    <Property Id="DESKTOPSHORTCUTEXISTS">
      <DirectorySearch Id="DesktopFolderSearch" Path="[DesktopFolderToSearchForShortcut]" Depth="0">
        <FileSearch Name="!(bind.Property.ProductName).lnk" />
      </DirectorySearch>
    </Property>

    <SetProperty Id="CreatesDesktopShortcut" Condition="(NOT NODESKTOPSHORTCUT) AND ((NOT WIX_UPGRADE_DETECTED) OR DESKTOPSHORTCUTEXISTS)" Value="1" Before="LaunchConditions" />

    <Component Id="DesktopShortcut" Directory="DesktopFolder" Condition="CreatesDesktopShortcut = 1">
      <Shortcut Name="!(bind.Property.ProductName)" Target="[INSTALLFOLDER]ProtonDrive.exe">
        <ShortcutProperty Key="System.AppUserModel.ID" Value="Proton.ProtonDrive" />
      </Shortcut>
      <RegistryValue Root="HKCU" Key="Software\Proton\Drive" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
