<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Property Id="EXISTINGINITIATORVALUE" Secure="yes">
      <RegistrySearch Id="SearchInstallationInitiatorRegistryValue" Root="HKCU" Key="SOFTWARE\Proton\Drive" Name="InstallationInitiator" Type="raw" />
    </Property>

    <SetProperty
      After="AppSearch"
      Id="EffectiveInitiator"
      Action="SetEffectiveInitiatorFromArgument"
      Condition="(NOT EXISTINGINITIATORVALUE) AND (NOT WIX_UPGRADE_DETECTED)"
      Value="[INITIATOR]"
      Sequence="execute" />

    <SetProperty
      After="AppSearch"
      Id="EffectiveInitiator"
      Action="SetEffectiveInitiatorFromExisting"
      Condition="EXISTINGINITIATORVALUE"
      Value="[EXISTINGINITIATORVALUE]"
      Sequence="execute" />

    <Component Id="InstallationInitiatorRegistryEntry" Condition="EffectiveInitiator">
      <RegistryValue Root="HKCU" Key="Software\Proton\Drive" Name="InstallationInitiator" Type="string" Value="[EffectiveInitiator]" KeyPath="yes" />
    </Component>

    <Property Id="EXISTINGFIRSTLAUNCHVALUE" Secure="yes">
      <RegistrySearch Id="SearchFirstLaunchRegistryValue" Root="HKCU" Key="SOFTWARE\Proton\Drive" Name="FirstLaunch" Type="raw"/>
    </Property>

    <SetProperty
      After="AppSearch"
      Id="EffectiveFirstLaunchValue"
      Action="SetEffectiveFirstLaunchValueFromDefault"
      Condition="(NOT EXISTINGFIRSTLAUNCHVALUE) AND (NOT WIX_UPGRADE_DETECTED)"
      Value="#0"
      Sequence="execute" />

    <SetProperty
      After="AppSearch"
      Id="EffectiveFirstLaunchValue"
      Action="SetEffectiveFirstLaunchValueForOldVersionUpgrade"
      Condition="(NOT EXISTINGFIRSTLAUNCHVALUE) AND WIX_UPGRADE_DETECTED"
      Value="#1"
      Sequence="execute" />

    <SetProperty
       After="AppSearch"
       Id="EffectiveFirstLaunchValue"
       Action="SetEffectiveFirstLaunchValueFromExisting"
       Condition="EXISTINGFIRSTLAUNCHVALUE"
       Value="[EXISTINGFIRSTLAUNCHVALUE]"
       Sequence="execute" />

    <Component Id="FirstLaunchRegistryEntry">
      <!-- 
      The RegistryValue type is set to "string" by default.
      The value is prefixed with "#" which will force REG_DWORD:
      https://wixtoolset.org/docs/schema/wxs/registrysearch/
      RegistrySearch returns values prefixed with "#" (e.g., "#0" for REG_DWORD), which cannot be directly processed as "integer" in WiX. 
      Using "string" avoids issues and allows proper handling of the prefixed value.
      -->
      <RegistryValue Root="HKCU" Key="Software\Proton\Drive" Name="FirstLaunch" Value="[EffectiveFirstLaunchValue]" KeyPath="yes" />
    </Component>
  </Fragment>
</Wix>
