<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <!--
    Workaround for the "perUser" scope not doing folder redirection, contrary to what the documentation claims:
    https://learn.microsoft.com/en-us/windows/win32/msi/installation-context
    -->
    <CustomAction
      Id="QueryUserProgramFilesFolder"
      BinaryRef="ProtonExtensions"
      DllEntry="QueryUserProgramFilesFolder"
      Execute="immediate"
      Return="check"
      Impersonate="no" />

    <InstallUISequence>
      <Custom Action="QueryUserProgramFilesFolder" Before="FindRelatedProducts" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="QueryUserProgramFilesFolder" Before="FindRelatedProducts" />
    </InstallExecuteSequence>

    <SetProperty Id="INSTALLFOLDER" Value="[USERPROGRAMFILESFOLDER]Proton\Drive" Sequence="first" After="QueryUserProgramFilesFolder" />
  </Fragment>
</Wix>
