<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <CustomAction
      Id="DoPerMachineUpgradeSupportActions"
      BinaryRef="ProtonExtensions"
      DllEntry="DoPerMachineUpgradeSupportActions"
      Execute="firstSequence"
      Return="check"
      Impersonate="no" />

    <InstallUISequence>
      <Custom Action="DoPerMachineUpgradeSupportActions" After="FindRelatedProducts" Condition="NOT Installed" />
    </InstallUISequence>

    <InstallExecuteSequence>
      <Custom Action="DoPerMachineUpgradeSupportActions" After="FindRelatedProducts" Condition="NOT Installed" />
    </InstallExecuteSequence>
  </Fragment>
</Wix>
